{% extends 'base.html.twig' %}

{% block title %}Big Bill | Fonctionnalités{% endblock %}

{% block body %}
<<<<<<< HEAD:templates/feature/index.html.twig
    <h1>Liste des Fonctionnalités Récurrentes</h1>
    <table class="table table-striped">
=======
    <h1>{{ title }}</h1>
    <table class="table table-striped table-hover">
>>>>>>> 30f878ba62564969db1fac22dd67c873ac9721d3:templates/features/index.html.twig
        <thead>
        <tr>
            <th scope="col">Nom de la fonctionnalité</th>
            <th class="text-center" scope="col">Catégorie de la fonctionnalité</th>
            <th class="text-center" scope="col">Charge estimée</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for feature in features %}
            <th scope="row">{{ feature.name }}</th>
            <td class="text-center">{{ feature.category.name }}</td>
            <td class="text-center"></td>
            <td class="text-center">
                <button><i class="fas fa-trash-alt"></i></button>
                <button><i class="fas fa-pencil-alt"></i></button>
            </td>
        </tr>
            {% endfor %}
        {% if features is empty %}
            <td>Pas de fonctionnalités enregistrées !</td>
        {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center fixed-bottom mb-5">
        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-right"></i>
    </div>
{% endblock %}
