<!DOCTYPE html>
<html>
<head>
    <title>{{ project.name }}</title>
    <link href='build/app.css' rel="stylesheet">
</head>
<body>
    <h1>{{ project.name }}</h1>
        <div> Ce projet inclus les fonctionnalités suivantes :</div>
            <ul>
                <li>Features à venir</li>
            </ul>
        <div>Avec une charge estimée de :

            {%  set highLoadTip = costs[project.id]['load']['high']|number_format(2, '.', ',') ~ ' jours' %}
            {%  set middleLoadTip = costs[project.id]['load']['middle']|number_format(2, '.', ',') ~ ' jours' %}
            {%  set lowLoadTip = costs[project.id]['load']['low']|number_format(2, '.', ',') ~ ' jours' %}

            {{ _context[variant ~ 'LoadTip'] }}

        </div>
        <div>Pour un prix estimé de :
            {%  set highCostTip = costs[project.id]['cost']['high']|number_format(2, '.', ',') ~ ' €' %}
            {%  set middleCostTip = costs[project.id]['cost']['middle']|number_format(2, '.', ',') ~ ' €' %}
            {%  set lowCostTip = costs[project.id]['cost']['low']|number_format(2, '.', ',') ~ ' €' %}

            {{ _context[variant ~ 'CostTip'] }}

        </div>


</body>
</html>
