{% extends 'base.html.twig' %}

{% block title %}Big Bill | Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <div class="row mt-4 float-right">
        <div class="col-12">
            <a href="{{ path('category_index') }}" class="btn btn-outline-primary form-btn">
                <i class="fa fa-arrow-left m-1"></i>Revenir sur la page précédente</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('category') }}
{% endblock %}
