$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;

/* colors */
$dark-color:#222222;
$primary:#046077;
$secondary:#043341;
$light-color:#F0EFEA;
$background-color:white;

/* paddings and margins */
$padding-large:40px;
$margin:20px;
