@import "vars";
@import "navbar";
@import "~bootstrap/scss/bootstrap";

body {
    color: $dark-color;
    font-size: $size;
}

<<<<<<< HEAD
a {
    color: $warm-color;
=======
a, a:hover {
    color: inherit;
    text-decoration: none;
}

.main {
    display: flex;
>>>>>>> f9636d38030158bbbcdb00d75a87d81f85d2fff4
}
