@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "projectDetails.scss";

body {
    background-color: $background-color;
    color:$dark-color;
}

h1{
    text-align: center;
    font-size: 48px;
    color:$secondary;
    padding:$padding-large;
}

h2{
    font-size: 18px;
    color:$primary;
}

p{
    font-size:14px;
}

.button-panel{
    display:flex;
    justify-content: end;
    padding-top:$padding-large;
    padding-bottom:$padding-large;
}

.form-btn{
    margin-left:$margin;
    margin-right:0;
    justify-self: end;
}

.sheet{
    height:100vh;
    display:flex;
    flex-direction:column;
}

input, textarea{
    border:hidden;
    border-bottom:thin solid $light-color;
}

label{
    color:$primary;
}
