@import "vars";
@import "navbar";
@import "paginator";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/_H_HelveticaNeueInterface_2.ttf) format('truetype');
}

body {
    background-color: $background-color;
    color: $dark;
    display: flex;
    font-family: 'Helvetica';
}

.btn {
    font-family: 'Helvetica';
}

.main {
    margin-left: 65px;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: $secondary;
    padding: $padding-large;
    margin: 0;
}

h2 {
    font-size: 18px;
    color: $primary;
    text-transform: capitalize;
}

p {
    font-size: $size;
    color: $primary;
}

.button-panel {
    display: flex;
    justify-content: flex-end;
    padding-top: $padding-large;
    padding-bottom: $padding-large;
}

.form-btn {
    margin-left: $margin;
    margin-right: 0;
    justify-self: end;
}

.sheet {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

input, textarea, select, .input-like, .input-info-header {
    background: transparent;
    border: thin solid $light;
    border-radius: 2px;
    padding: 0.25em;
    height: max-content;
    width: max-content;
    margin-bottom: 0;

    &:focus, &:hover {
        border: thin solid $primary;
        background: $light;
    }
}

label {
    color: $primary;
    font-size: $size;
    margin: 0;
    vertical-align: center;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.text-high {
    color: $high;
}

.text-middle {
    color: $middle;
}

.text-low {
    color: $low;
}

.text-expert {
    color: $expert;

    label {
        color: $expert;
    }
}

.text-junior {
    color: $junior;

    label {
        color: $junior;
    }
}

.text-confirmed {
    color: $confirmed;

    label {
        color: $confirmed;
    }
}

.main {
    width: 100%;
}

.text-half {
    color: $light;
}

.sort-active {
    color: $primary;
}

.sort-inactive {
    color: $light;
}

.table-striped > tbody > td:nth-child(odd) {
    background-color: $light;
}

table {
    overflow: auto;
    max-height: 100px;
    height: 100px;
    min-height: 100px;
    border: none;
}

thead {
    background-color: $background-color;

    tr {
        th {
            color: $text-light;
        }
    }
}

th {
    font-size: $size-large;
    color: $primary;
    text-transform: capitalize;
}

.table th, .table td {
    vertical-align: middle;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
}

.tooltip-inner {
    background-color: $light;
    border: thin solid $primary;
    font-weight: 800;
    color:$primary;

    h6 {
        color: $dark;
        padding-top: $padding;
    }

    p {
        margin: 0;
    }
}

.btn-row{
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
