@import "vars";

.card label {
    color: $dark;
    text-transform: lowercase;
}

.card img {
    width: 100%;
    height: 100%;
}

.card label:first-letter {
    text-transform: uppercase;
}

.card .custom-file label {
    text-transform: none;
}

.card .custom-file label:first-letter {
    text-transform: none;
}

.card .form-text {
    color: $dark;
    font-size: 16px;
}

.card .form-text::first-letter {
    text-transform: uppercase;
}

.custom-file-label::after {
    content: "Choisissez une image";
}
