@import "vars";

.project-header {
    padding-top: $padding-large;
    padding-bottom: $padding-large;

    h1 {
        font-size: 36px;
        color:$secondary;
        padding:0;
        margin:0;
        width:100%;
    }
}

.skill {
    display: flex;
    align-items: baseline;

    label {
        width: 100px;
    }

    /* remove number input arrows Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* remove number input arrows Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    &::after{
        content : "%";
    }
}

.description {
    textarea {
        width: 100%;
    }
    color : $text-light;
}

.normal textarea {
    font-size: $size;
}

.small {
    font-size: $size-small;
}

.name, .description, .application, .ability, .load, .cost {
    display: flex;
    align-items: center;
}

.input-align {
    input {
        width: 2.5em;
        text-align: center;
    }
}

.hidden-field {
    display: none;
}

.collapse-toggler:after {
    font-family: FontAwesome, serif;
    content: "\f0d7";
    float: right;
    transition-duration: 0.5s;
}

.collapse-toggler.collapsed:after {
    transform: rotateZ(0.25turn);
    transition-duration: 0.5s;
}

.feature-category {
    background: $light;
}

.nav-pills .nav-link {
    position: relative;
}

.variant-nav-link {
    border: 1px solid $light;
    margin-right:$margin;
    background-color:$background-color-fade;
}

.input-like {
    padding: .25rem .5rem;
}

.figures-card{
    background:$light;
    padding:$padding;
}
