@import "vars";

.project-header{
    padding-top:$padding-large;
    padding-bottom:$padding-large;
}

.skill {
    display: flex;
    align-items: baseline;

    label {
        width: 100px;

        &::before {
            content: '% ';
        }
    }

    /* remove number input arrows Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* remove number input arrows Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.description{
    textarea{
        width:100%;
    }
}

.normal textarea{
    font-size:$size;
}

.small{
    font-size:$size-small;
}

.name, .description, .application, .ability, .load{
    display:flex;
    align-items: center;
}

.input-align{
    input{
        width: 2.5em;
        text-align:center;
    }
}

.hidden-field{
    display:none;
}

.project-header .form-group:last-child{
    margin-bottom:0;
}

.xcollapse-toggler:after {
    /* symbol for "opening" panels */
    font-family: FontAwesome;  /* essential for enabling glyphicon */
    content: "\f060";    /* adjust as needed, taken from bootstrap.css */
    tbransform:rotateZ(-0.25turn);
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    transition-duration: 1s;
}

.xcollapse-toggler.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f063";    /* adjust as needed, taken from bootstrap.css */
    transition-duration: 1s;
}

.collapse-toggler:after {
    font-family: FontAwesome;
    content: "\f0d7";
    float: right;
    color: grey;
    transition-duration: 0.5s;
}

.collapse-toggler.collapsed:after {
    transform:rotateZ(0.25turn);
    transition-duration: 0.5s;
}
