@import "vars";

.project-header {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
}

.skill {
    display: flex;
    align-items: baseline;

    label {
        width: 100px;

        &::before {
            content: '% ';
        }
    }

    /* remove number input arrows Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* remove number input arrows Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.description {
    textarea {
        width: 100%;
    }
}

.normal textarea {
    font-size: $size;
}

.small {
    font-size: $size-small;
}

.name, .description, .application, .ability, .load {
    display: flex;
    align-items: center;
}

.input-align {
    input {
        width: 2.5em;
        text-align: center;
    }
}

.hidden-field {
    display: none;
}

.project-header .form-group:last-child {
    margin-bottom: 0;
}

.collapse-toggler:after {
    font-family: FontAwesome, serif;
    content: "\f0d7";
    float: right;
    color: $grey;
    transition-duration: 0.5s;
}

.collapse-toggler.collapsed:after {
    transform: rotateZ(0.25turn);
    transition-duration: 0.5s;

}

.feature-line {
    transition: 5s;
}

.feature-category {
    background: $light;
}

.category {
    border-radius: 100px;
    border: none;
    text-align: center;
    color: $light;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 10px;
    font-weight: bold;
    background: $primary;

    &:focus {
        background: $primary;
    }

    &:hover {
        background: darken($primary, 5%);
    }
}

.nav-pills .nav-link {
    position: relative;
}

.nav-pills .default::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: $background-color $green $background-color $background-color;
}

.input-like {
    padding: .25rem .5rem;
}
