@import "vars";

body {
    background-color:$background-color-security;
}

.form-card .card {
    padding: 31%;
    margin-top: -27%;
    background-color: $white;
}

.form-card h2 {
    font-size: 24px;
}

.form-card h2, .form-card p {
    color: $dark;
}

.form-card h2 {
    color: $dark;
    text-transform: lowercase;
}

.form-card h2:first-letter {
    text-transform: capitalize;
}

.form-card .card-body{
    padding: 15%;
    margin-bottom: -50%;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba($dark, 0.2), 0 6px 20px 0 rgba($dark, 0.19);
}

.form-card img{
    width:40%;
    margin-bottom:10%;
}

.form-card form label {
    color: $dark;
    text-transform: lowercase;
}

.form-card form label:first-letter {
    text-transform: capitalize;
}
