<mjml>
    <mj-head>
        <mj-attributes>
            <mj-all padding="0px"></mj-all>
            <mj-text font-family="Ubuntu, Helvetica Helvetica Neue, Arial, sans-serif" padding="0 25px" font-size="13px"></mj-text>
            <mj-section background-color="#ffffff"></mj-section>
            <mj-class name="preheader" color="#000000" font-size="11px"></mj-class>
        </mj-attributes>
        <mj-style inline="inline">a { text-decoration: none!important; color: inherit!important; }</mj-style>
    </mj-head>
    <mj-body background-color="#F0EFEA">
        <mj-section>
            <mj-column background-color="#F0EFEA">
                <mj-spacer height="50px" />
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column width="100%" background-color="#046077" vertical-align="middle">
                <mj-text align="center" padding-bottom="30px" padding-top="30px" font-size="28px" color="#FFFFFF">
                    <strong style="text-transform: uppercase;">Big Bill</strong>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-bottom="20px" padding-top="10px">
            <mj-column>
                <mj-text align="center" padding="10px 25px" font-size="20px" color="#222222">
                    <h2>{{ title }}</h2>
                </mj-text>
                <mj-text font-size="18px">
                    <p>{{ bodyText }}</p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#ffffff" background-repeat="repeat" padding-top="0px" padding="20px 0" text-align="center">
            <mj-column>
                <mj-button align="center" background-color="#046077" color="#ffffff" border-radius="2px" href="{{ absolute_url(path(pageLink, {'id': userId, 'token': userToken})) }}" inner-padding="15px 30px" padding-bottom="100px" padding-top="20px" font-size="16px">
                    <span style="color: #ffffff;">{{ buttonName }}</span>
                </mj-button>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
