{% extends 'base.error.html.twig' %}
{% block title 'Big Bill | 404 page non trouvée' %}

{% block errorText %}
    <h2>Oups! :(</h2>
    <p>Désolé, la page que vous cherchez est introuvable.</p>
{% endblock %}
