{% extends 'base.error.html.twig' %}
{% block title 'Big Bill | 403 Accès non autorisé' %}

{% block errorText %}
    <h2>Désolé!</h2>
    <p>L'accès à cette page n'est pas autorisé.</p>
{% endblock %}
