{% extends 'base.error.html.twig' %}
{% block title 'Big Bill | 405 Méthode non autorisé' %}

{% block errorText %}
    <h2>Oups! :(</h2>
    <p>La méthode appelée n'est pas autorisée ou n'existe pas.</p>
{% endblock %}
