{% extends 'base.error.html.twig' %}
{% block title 'Big Bill | 500 Erreur interne' %}

{% block errorText %}
    <h2>Désolé! :(</h2>
    <p>L'application n'est pas accessible pour le moment. Nous travaillons activement pour résoudre le problème.</p>
{% endblock %}
