
<div class="button-panel container">
    <button class="btn btn-primary form-btn"> Enregistrer les modifications </button>
    <a class="btn btn-outline-primary form-btn" href="{{ path('project_index') }}">Revenir à la liste des projets</a>
</div>
