<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression du projet {{ project.name }} ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button title="Supprimer" class="btn btn-sm btn-primary">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>