
<table class="table table-hover feature-list">
    <thead>
    <tr>
        <th scope="col">Nom de la fonctionnalité</th>
        <th class="text-center" scope="col">Catégorie de la fonctionnalité</th>
        <th class="text-center" scope="col">Charge estimée</th>
        <th class="text-center" scope="col"></th>
    </tr>
    </thead>
    <tbody>

    {% for featureCategoryIndex, featureCategory in featureCategories %}
        <tr>
            <td colspan="4" class="feature-category w-50">
                <div><a class="collapse-toggler" data-toggle="collapse" href="#collapseDescription{{ featureCategory.id }}" aria-expanded="true" aria-controls="collapseDescription{{ featureCategory.id }}">
                    Catégorie : {{ featureCategory.name }}
                </a></div>
            </td>

        </tr>

        {% for projectFeature in form.projectFeatures %}
            {% if featureCategory.id == projectFeature.vars.data.category.id %}
                {{ include('project/_featureLine.html.twig') }}
            {%  endif %}
        {% else %}
            <td>Pas de fonctionnalités enregistrées !</td>
        {% endfor %}
    {% endfor %}

    </tbody>
</table>
