{% extends 'base.html.twig' %}

{% block title %}Détails du projet{% endblock %}

{% block body %}
    <h1>Détails du projet</h1>

    <section class="sheet">

        {{ include('project/_form.html.twig', {'button_label': 'Enregistrer le projet'}) }}


        <div class="container">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary form-btn"> Enregistrer les modifications </button>
                <a class="btn btn-primary form-btn" href="{{ path('project_index') }}">Revenir à la liste des projets</a>
            </div>

        </div>

        {{ include('project/_delete_form.html.twig') }}

    </section>
{% endblock %}
