<nav class="menu">
    <div class="menu-wrapper">
        <div class="logo">
            <a href="" title="Big Bill">B</a>
        </div>
        <ul>
            <li>
                <a href="" title="Projets">
                    <i class="fas fa-project-diagram"></i>
                </a>
                <span>Projets</span>
            </li>
            <li>
                <a href="" title="Paramètres">
                    <i class="fas fa-cog"></i>
                </a>
                <span id="project">Paramètre</span>
            </li>
            <li>
                <a href="" title="Mon profil">
                    <i class="fas fa-address-card"></i>
                </a>
                <span id="project">Mon profil</span>
            </li>
            <li>
                <a href="" title="Gestion des utilisateurs">
                    <i class="fas fa-user-friends"></i>
                </a>
                <span id="project">Gestion des utilisateurs</span>
            </li>
        </ul>
        <div class="exit">
            <a href="" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>
