<nav class="menu">
    <div class="menu-wrapper">
        <div class="logo">
            <a href="">B</a>
        </div>
        <ul>
            <li>
                <a href="">
                    <i class="fas fa-project-diagram"></i>
                </a>
                <span>Projets</span>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-cog"></i>
                    <span id="project">Paramètre</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-address-card"></i>
                    <span id="project">Mon profil</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-user-friends"></i>
                    <span id="project">Gestion des utilisateurs</span>
                </a>
            </li>
        </ul>
        <div class="exit">
            <a href=""><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>
